.hero{
    height: calc(100vh - 100px);
    background: linear-gradient(180deg, #0c0c1d, #111132);
    position: relative;
    overflow: hidden;
    // width: 1280px;
    // margin: auto;

    .wrapper{
        width: 1280px;
        margin: auto;
        height: 100%;
        .textcontainer{
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;
            img{
                width: 50px;
                // object-fit: cover;
            }
            h2{
                color: rebeccapurple;
                font-size: 30px;
                letter-spacing: 10px;
            }
            h1{
                font-size: 80px
            }
            .buttons{
                display: flex;
                gap: 20px;
                button{
                    padding: 20px;
                    background-color: transparent;
                    color: white;
                    border-radius: 10px;
                    border: 1px solid white;
                    cursor: pointer;
                    font-weight: 300;
                    transition: 0.4;
                    z-index: 2;
                    
                }
            }
        }

    }
    .slidingTextContainer{
        position: absolute;
        font-size: 50vh;
        bottom: -60px;
        white-space: nowrap;
        color: #ffffff09;
        width: 50%;
        font-weight: bold;
        z-index: 1;
    }
    .image-container{
        height: 100%;
        position: absolute;
        z-index: 2;
        top: 0;
        right: -120px;
        img{
            max-width: 700px;
            max-height:700px;
            object-fit: cover;
        }

    }
}